<div class="toolbar" role="banner">
  <img width="40" alt="Logo" src="../assets/images/switch-tracks.png" />
  <span>Train Journey</span>
</div>

<div class="content" role="main">
  <h3>Select a starting and destination station</h3>
  <section class="fields">
    <mat-form-field appearance="fill">
      <mat-label>Starting Station</mat-label>
      <mat-select [(value)]="departureStation" (selectionChange)="calculateRoute()">
        <ng-container *ngFor="let station of stations">
          <mat-option *ngIf="arrivalStation !== station.value" [value]="station.value">
            {{station.viewValue}}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Destination Station</mat-label>
      <mat-select [(value)]="arrivalStation" (selectionChange)="calculateRoute()">
        <ng-container *ngFor="let station of stations">
          <mat-option *ngIf="departureStation !== station.value" [value]="station.value">
            {{station.viewValue}}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </section>

  <section class="result">
    <p>{{resultStringJourney}}</p>
    <p>{{resultStringDuration}}</p>
    <p>{{resultStringChanges}}</p>
  </section>


</div>