.toolbar {
  display: flex;
  align-items: center;
  background-color: #08bdba;
  color: white;
  img {
    padding: 0.7rem;
    margin-right: 0.5rem;
  }
}

.content {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 2rem;
  h3 {
    color: darkslategrey;
    font-weight: normal;
  }
  .fields {
    :first-child {
      margin-right: 2rem;
    }
  }
}
